.card {
    background-color: rgb(173, 188, 196);
  }
.card-body{
    background-color: rgb(173, 188, 196);

}
.hidden {
    display: none;
  }

.a {
    text-decoration: none;
  }

.card .list-group .list-group-flush {
  background-color: rgb(173, 188, 196);
}