{% extends 'base.html' %}

{% block content %}
{% include 'Carrousel.html' %}
{% if request.user.is_authenticated %}
<div class="row mt-3">
  <div class="col-md-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-bs-toggle="collapse" href="#profile-collapse" role="button" aria-expanded="false" aria-controls="profile-collapse">
          <i class="bi bi-person-fill"></i> Perfil
        </a>
      </li>
      <!-- Agrega aquí más pestañas si es necesario -->
    </ul>
    <div class="collapse" id="profile-collapse">
      <div class="card">
        <img src="{{ user.profile.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }}</h3>
          <h5 class="card-title">@{{ user.username | upper }}</h5>
          <small><i class="bi bi-geo-alt"></i> {{ user.profile.location }}</small>
          <p class="card-text mt-3">{{ user.profile.bio }}</p>

          <strong>Intereses:</strong> <br>
          {% for interest in user.profile.interest.all %}
            <span class="badge text-bg-info">{{ interest.name | upper }}</span>
          {% endfor %}

          <hr>
          <a href="{% url 'logout' %}" class="btn btn-sm btn-success">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#profile-tab').on('click', function() {
      $('#profile-collapse').collapse('toggle');
    });
  });
</script>
{% endblock %}









