{% extends 'base.html' %}

{% block content %}
{% include 'Carrousel.html' %}
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src={{ user.profile.image.url }} class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }}</h3>
                <h5 class="card-title">@{{ user.username | upper }}</h5>
                <small><i class="bi bi-geo-alt"></i> {{ user.profile.location }}</small>
                <p class="card-text mt-3">{{ user.profile.bio }}</p>

                <strong> Intereses: </strong> <br>
                {% for interest in user.profile.interest.all %}
                    <span class="badge text-bg-info">{{interest.name | upper}}</span>
                {% endfor %}

                <hr>
                <a href={% url 'logout' %} class="btn btn-sm btn-success">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBg0ajsPqFQbKT_-rkqdqenqYicabc5JU4",
      authDomain: "mimartillo-5e603.firebaseapp.com",
      projectId: "mimartillo-5e603",
      storageBucket: "mimartillo-5e603.appspot.com",
      messagingSenderId: "326916431050",
      appId: "1:326916431050:web:55d792b599654c5cae6833",
      measurementId: "G-94BG000FLL"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>








